Pre-Processing of fragrance data to make it ready for content-based recoomendation

In [1]:
#importing the libraries
import pandas as pd
import numpy as np

In [2]:
#importing sklearn libraries for onehotencoding
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

In [3]:
#getting the data
fragrance= pd.read_csv('perfume.csv')

In [4]:
#initial exploratory assessment of fragrance data

In [5]:
print('head of the data:')
fragrance.head()

head of the data:

,brand,title,date,accords,rating_score,votes,longevity_poor,longevity_weak,longevity_moderate,longevity_long,...,notes_12,notes_13,notes_14,notes_15,notes_16,notes_17,notes_18,notes_19,notes_20,gender
0,The-Spirit-of-Dubai,Aamal The Spirit of Dubai for women and men,2017,"woody,earthy,animalic,amber,musky,balsamic",5.0,3,0,0,0,0,...,Base3Moss,Base4Agarwood (Oud),Base5Indian Oud,NaN,NaN,NaN,NaN,NaN,NaN,women
1,Ajmal,Aatifa Ajmal for women and men,2014,"fresh spicy,woody,musky,rose,amber",4.2,10,1,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,women
2,Al-Jazeera-Perfumes,AA Al-Jazeera Perfumes for women and men,0,"rose,woody,musky,oud,fruity",0.0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,women
3,Art-of-Scent-Swiss-Perfumes,aarewasser Art of Scent - Swiss Perfumes for w...,2010,"white floral,green,ozonic,fresh,animalic",0.0,1,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,women
4,Hamidi-Oud-Perfumes,Aaliyah Hamidi Oud & Perfumes for women and men,0,"woody,warm spicy,amber,balsamic,musky",0.0,2,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,women

In [6]:
fragrance.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51212 entries, 0 to 51211
Data columns (total 86 columns):
brand                       51212 non-null object
title                       51212 non-null object
date                        51212 non-null int64
accords                     50268 non-null object
rating_score                51212 non-null float64
votes                       51212 non-null int64
longevity_poor              51212 non-null int64
longevity_weak              51212 non-null int64
longevity_moderate          51212 non-null int64
longevity_long              51212 non-null int64
longevity_very_long         51212 non-null int64
sillage_soft                51212 non-null int64
sillage_moderate            51212 non-null int64
sillage_heavy               51212 non-null int64
sillage_enormous            51212 non-null int64
clslove                     51212 non-null int64
clslike                     51212 non-null int64
clsdislike                  51212 non-null int64
clswinter                   51212 non-null int64
clsspring                   51212 non-null int64
clssummer                   51212 non-null int64
clsautumn                   51212 non-null int64
clscold                     51212 non-null int64
clshot                      51212 non-null int64
clsday                      51212 non-null int64
clsnight                    51212 non-null int64
clslove_female25under       51212 non-null int64
clslove_male25under         51212 non-null int64
clslove_female25older       51212 non-null int64
clslove_male25older         51212 non-null int64
clslike_female25under       51212 non-null int64
clslike_male25under         51212 non-null int64
clslike_female25older       51212 non-null int64
clslike_male25older         51212 non-null int64
clsdislike_female25under    51212 non-null int64
clsdislike_male25under      51212 non-null int64
clsdislike_female25older    51212 non-null int64
clsdislike_male25older      51212 non-null int64
clswinter_female25under     51212 non-null int64
clswinter_male25under       51212 non-null int64
clswinter_female25older     51212 non-null int64
clswinter_male25older       51212 non-null int64
clsspring_female25under     51212 non-null int64
clsspring_male25under       51212 non-null int64
clsspring_female25older     51212 non-null int64
clsspring_male25older       51212 non-null int64
clssummer_female25under     51212 non-null int64
clssummer_male25under       51212 non-null int64
clssummer_female25older     51212 non-null int64
clssummer_male25older       51212 non-null int64
clsautumn_female25under     51212 non-null int64
clsautumn_male25under       51212 non-null int64
clsautumn_female25older     51212 non-null int64
clsautumn_male25older       51212 non-null int64
clsday_female25under        51212 non-null int64
clsday_male25under          51212 non-null int64
clsday_female25older        51212 non-null int64
clsday_male25older          51212 non-null int64
clsnight_female25under      51212 non-null int64
clsnight_male25under        51212 non-null int64
clsnight_female25older      51212 non-null int64
clsnight_male25older        51212 non-null int64
Ihaveit                     51212 non-null float64
Ihadit                      51212 non-null float64
Iwantit                     51212 non-null float64
notes_1                     51212 non-null object
notes_2                     51212 non-null object
notes_3                     47488 non-null object
notes_4                     44767 non-null object
notes_5                     40750 non-null object
notes_6                     35867 non-null object
notes_7                     30826 non-null object
notes_8                     25503 non-null object
notes_9                     18558 non-null object
notes_10                    13791 non-null object
notes_11                    10210 non-null object
notes_12                    7421 non-null object
notes_13                    5489 non-null object
notes_14                    4084 non-null object
notes_15                    3145 non-null object
notes_16                    2422 non-null object
notes_17                    1853 non-null object
notes_18                    1415 non-null object
notes_19                    1063 non-null object
notes_20                    828 non-null object
gender                      40733 non-null object
dtypes: float64(4), int64(58), object(24)
memory usage: 33.6+ MB

In [7]:
fragrance.columns

Index(['brand', 'title', 'date', 'accords', 'rating_score', 'votes',
       'longevity_poor', 'longevity_weak', 'longevity_moderate',
       'longevity_long', 'longevity_very_long', 'sillage_soft',
       'sillage_moderate', 'sillage_heavy', 'sillage_enormous', 'clslove',
       'clslike', 'clsdislike', 'clswinter', 'clsspring', 'clssummer',
       'clsautumn', 'clscold', 'clshot', 'clsday', 'clsnight',
       'clslove_female25under', 'clslove_male25under', 'clslove_female25older',
       'clslove_male25older', 'clslike_female25under', 'clslike_male25under',
       'clslike_female25older', 'clslike_male25older',
       'clsdislike_female25under', 'clsdislike_male25under',
       'clsdislike_female25older', 'clsdislike_male25older',
       'clswinter_female25under', 'clswinter_male25under',
       'clswinter_female25older', 'clswinter_male25older',
       'clsspring_female25under', 'clsspring_male25under',
       'clsspring_female25older', 'clsspring_male25older',
       'clssummer_female25under', 'clssummer_male25under',
       'clssummer_female25older', 'clssummer_male25older',
       'clsautumn_female25under', 'clsautumn_male25under',
       'clsautumn_female25older', 'clsautumn_male25older',
       'clsday_female25under', 'clsday_male25under', 'clsday_female25older',
       'clsday_male25older', 'clsnight_female25under', 'clsnight_male25under',
       'clsnight_female25older', 'clsnight_male25older', 'Ihaveit', 'Ihadit',
       'Iwantit', 'notes_1', 'notes_2', 'notes_3', 'notes_4', 'notes_5',
       'notes_6', 'notes_7', 'notes_8', 'notes_9', 'notes_10', 'notes_11',
       'notes_12', 'notes_13', 'notes_14', 'notes_15', 'notes_16', 'notes_17',
       'notes_18', 'notes_19', 'notes_20', 'gender'],
      dtype='object')

For the recommendation purpose, we will focus on perfumes which are rated by a substantial number of users.
When the perfumes are reviewed by few users, the review results could be highly biased.
Usuually first reviewers could be celebrities in the industry, getting it as gift from brands and it could cause unintended review bias.

In [8]:
fragrance=fragrance[(fragrance['votes']>200)]

In [9]:
#resetting the index back to start from 0 after dropping the ones with less than 200 votes
fragrance = fragrance.reset_index()

The accord list of a perfume is one of the main component showing its category.
People's test is perfumes usually shows itself in the perfume accords they prefer.

In [10]:
#showing fragrance accords 
print('sample accords:')
fragrance['accords']

sample accords:

0       fruity,patchouli,woody,earthy,sweet,citrus,Vid...
1       fruity,woody,sweet,balsamic,yellow floral,Pict...
2       fruity,sweet,white floral,patchouli,citrus,Vid...
3           fruity,sweet,vanilla,almond,balsamic,Pictures
4          fruity,rose,sweet,citrus,white floral,Pictures
                              ...
4272    tuberose,balsamic,white floral,vanilla,rum,swe...
4273     woody,floral,powdery,fruity,rose,citrus,Pictures
4274    green,woody,aromatic,amber,fresh spicy,Videos,...
4275     woody,balsamic,powdery,vanilla,rose,white floral
4276    tobacco,oud,warm spicy,woody,animalic,amber,Pi...
Name: accords, Length: 4277, dtype: object

The accords column consist of a long string with numerous accords listed for each perfume, sorted by the number of people who found the perfume to be in this category.
We are focusing on the top three accord for each perfume and extracting them to 3 new columns

In [11]:
fragrance['accords'] = fragrance['accords'].apply(lambda x: x.split(','))

In [12]:
l=len(fragrance['accords'])
print('length of accords is '+ str(l))

length of accords is 4277

In [13]:
accord1 = (fragrance['accords'].iloc[0:l]).str.get(0)

In [14]:
accord2 = (fragrance['accords'].iloc[0:l]).str.get(1)

In [15]:
accord3 = (fragrance['accords'].iloc[0:l]).str.get(2)

In [16]:
fragrance['accord1']=accord1

In [17]:
fragrance['accord2']=accord2

In [18]:
fragrance['accord3']=accord3

Next step, only columns that would be used for content recommendation are kept in the cleaned data frame.
Columns related to like/love/dislike are removed, as not independant from the rating column itself.
Notes are removed, as they are captured in accords. Unique accords are in order of 60 distinct labels.
Given the huge variety of notes, and considering they are categorial as well, these columns are removed as well.

In [19]:
frag_cl = fragrance[['brand', 'title', 'rating_score', 
       'longevity_poor', 'longevity_weak', 'longevity_moderate',
       'longevity_long', 'longevity_very_long', 'sillage_soft',
       'sillage_moderate', 'sillage_heavy', 'sillage_enormous','clswinter', 'clsspring', 'clssummer',
       'clsautumn','clsday', 'clsnight', 'accord1', 'accord2', 'accord3']]

Removing N/A values. As the numver of rows did not change, there was no N/A values.

In [20]:
fragcl = frag_cl.dropna()

In [21]:
frag_cl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4277 entries, 0 to 4276
Data columns (total 21 columns):
brand                  4277 non-null object
title                  4277 non-null object
rating_score           4277 non-null float64
longevity_poor         4277 non-null int64
longevity_weak         4277 non-null int64
longevity_moderate     4277 non-null int64
longevity_long         4277 non-null int64
longevity_very_long    4277 non-null int64
sillage_soft           4277 non-null int64
sillage_moderate       4277 non-null int64
sillage_heavy          4277 non-null int64
sillage_enormous       4277 non-null int64
clswinter              4277 non-null int64
clsspring              4277 non-null int64
clssummer              4277 non-null int64
clsautumn              4277 non-null int64
clsday                 4277 non-null int64
clsnight               4277 non-null int64
accord1                4277 non-null object
accord2                4271 non-null object
accord3                4266 non-null object
dtypes: float64(1), int64(15), object(5)
memory usage: 701.8+ KB

Comparing the number of votes per perfume with different ratings for longevity, sillage, season and daytime suitability, it is understood that a reviewer does not need to provide input for all the fields. 
Therefore for each category of voting, the proportional ratio of votes are calculated

In [22]:
longevity_list = frag_cl[['longevity_poor','longevity_weak','longevity_moderate','longevity_long','longevity_very_long']]

In [23]:
frag_cl['longevity_rating'] = longevity_list.sum(axis=1)

<ipython-input-23-f26c1568c5b3>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  frag_cl['longevity_rating'] = longevity_list.sum(axis=1)

In [24]:
frag_cl[['longevity_poor','longevity_weak','longevity_moderate','longevity_long','longevity_very_long']] = np.divide((frag_cl[['longevity_poor','longevity_weak','longevity_moderate','longevity_long','longevity_very_long']]),frag_cl[['longevity_rating']])

C:\Users\mshak\anaconda3\lib\site-packages\pandas\core\frame.py:3509: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [25]:
sillage_list = frag_cl[['sillage_soft', 'sillage_moderate', 'sillage_heavy', 'sillage_enormous']]

In [26]:
frag_cl['sillage_rating'] = sillage_list.sum(axis=1)

<ipython-input-26-bd98587ec418>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  frag_cl['sillage_rating'] = sillage_list.sum(axis=1)

In [27]:
frag_cl[['sillage_soft', 'sillage_moderate', 'sillage_heavy', 'sillage_enormous']] = np.divide((frag_cl[['sillage_soft', 'sillage_moderate', 'sillage_heavy', 'sillage_enormous']]), frag_cl[['sillage_rating']])

In [28]:
season_list = frag_cl[['clswinter', 'clsspring', 'clssummer', 'clsautumn']]

In [29]:
frag_cl['season_rating'] = season_list.sum(axis=1)

<ipython-input-29-1e5bee0c4b88>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  frag_cl['season_rating'] = season_list.sum(axis=1)

In [30]:
frag_cl[['clswinter', 'clsspring', 'clssummer', 'clsautumn']] = np.divide((frag_cl[['clswinter', 'clsspring', 'clssummer', 'clsautumn']]),frag_cl[['season_rating']])

In [31]:
daytime_list = frag_cl[['clsday', 'clsnight']]

In [32]:
frag_cl['daytime_rating'] = frag_cl[['clsday', 'clsnight']].sum(axis=1)

<ipython-input-32-4abe1ecfab10>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  frag_cl['daytime_rating'] = frag_cl[['clsday', 'clsnight']].sum(axis=1)

In [33]:
frag_cl[['clsday', 'clsnight']] = np.divide((frag_cl[['clsday', 'clsnight']]),frag_cl[['daytime_rating']])

In [34]:
frag_cl=frag_cl.drop(columns=['longevity_rating', 'sillage_rating', 'season_rating',
       'daytime_rating'])

All accord columns are categorical data, which needs to be converted to a form of numeric values through onehotencoding

In [35]:
# instantiate labelencoder object
le = LabelEncoder()

In [36]:
frag_cl['accord1'] = frag_cl['accord1'].astype(str)

In [37]:
frag_cl['accord2'] = frag_cl['accord2'].astype(str)

In [38]:
frag_cl['accord3'] = frag_cl['accord3'].astype(str)

In [39]:
accord1_new = frag_cl[['accord1']].apply(lambda col: le.fit_transform(col))

In [40]:
accord2_new = frag_cl[['accord2']].apply(lambda col: le.fit_transform(col))

In [41]:
accord3_new = frag_cl[['accord3']].apply(lambda col: le.fit_transform(col))

In [42]:
onehot_encoder = OneHotEncoder(sparse=False)

In [43]:
accord1_encoded = onehot_encoder.fit_transform(accord1_new)

The columns for encoding accord1, accord2, and accord3 need to have unique values.
Therefore continuing the numbering of the columns sequentially.

In [44]:
accord1column=range(fragrance['accord1'].nunique())

In [45]:
accord2column=range(fragrance['accord1'].nunique(), fragrance['accord1'].nunique()+fragrance['accord2'].nunique()+1)

In [46]:
accord3column=range(fragrance['accord1'].nunique()+fragrance['accord2'].nunique()+1,fragrance['accord1'].nunique()+fragrance['accord2'].nunique()+fragrance['accord3'].nunique()+2)

In [47]:
accord1_hot_encoded = pd.DataFrame(accord1_encoded, columns = accord1column)

In [48]:
accord2_encoded = onehot_encoder.fit_transform(accord2_new)

In [49]:
accord2_hot_encoded = pd.DataFrame(accord2_encoded, columns = accord2column)

In [50]:
accord3_encoded = onehot_encoder.fit_transform(accord3_new)

In [51]:
accord3_hot_encoded = pd.DataFrame(accord3_encoded, columns = accord3column)

In [52]:
#concatinating the three sets of hit_encoded accords 
accords_encoded = pd.concat([accord1_hot_encoded, accord2_hot_encoded,accord3_hot_encoded ], axis=1)

In [53]:
#shoowing the encoded results of accord columns
print('encoded accord columns:')
accords_encoded

encoded accord columns:

,0,1,2,3,4,5,6,7,8,9,...,153,154,155,156,157,158,159,160,161,162
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4272,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4273,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4274,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4275,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4276,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [54]:
#dropping the columns which will be included by oneHotEncoding
todrop = ['accord1', 'accord2', 'accord3']
frag_cl = frag_cl.drop(columns = todrop)

In [55]:
#adding the encoded accords back
frag_cl_encoded = pd.concat([frag_cl, accords_encoded], axis=1)

In [56]:
#showing how new dataframe looks like
print('the new data frame:')
frag_cl_encoded

the new data frame:

,brand,title,rating_score,longevity_poor,longevity_weak,longevity_moderate,longevity_long,longevity_very_long,sillage_soft,sillage_moderate,...,153,154,155,156,157,158,159,160,161,162
0,Christian-Dior,Miss Dior Cherie Eau de Parfum Christian Dior ...,4.00,0.059299,0.067385,0.304582,0.380054,0.188679,0.112903,0.486175,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,Hanae-Mori,Hanae Mori Hanae Mori for women,4.02,0.049096,0.067183,0.338501,0.416021,0.129199,0.141079,0.443983,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Yves-Saint-Laurent,Mon Paris Yves Saint Laurent for women,3.51,0.083333,0.111111,0.462963,0.210648,0.131944,0.159615,0.494231,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,Montale,Mukhallat Montale for women and men,3.77,0.094340,0.056604,0.160377,0.264151,0.424528,0.105960,0.238411,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Montale,Roses Elixir Montale for women,3.94,0.098901,0.076923,0.131868,0.329670,0.362637,0.112903,0.290323,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4272,Honore-des-Pres,Vamp à NY Honore des Pres for women,3.80,0.050847,0.084746,0.457627,0.322034,0.084746,0.108108,0.567568,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4273,Cartier,So Pretty Cartier for women,4.05,0.086957,0.108696,0.195652,0.434783,0.173913,0.181818,0.509091,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4274,Paco-Rabanne,Ultraviolet Paco Rabanne for men,3.90,0.071429,0.079365,0.250000,0.496032,0.103175,0.115646,0.367347,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4275,Yves-Rocher,Venice Yves Rocher for women,4.07,0.111111,0.083333,0.416667,0.250000,0.138889,0.106383,0.489362,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4276,Chopard,Oud Malaki Chopard for men,4.42,0.057851,0.074380,0.165289,0.314050,0.388430,0.123529,0.258824,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [57]:
#saving the ready updated data frame as csv.file ready to use for content based recommendation modelling
frag_cl_encoded.to_csv('perfume_cl.csv', sep=',', index=False, header=True)